.header-wraper{
  position: relative;
  background: url(/src/images/home-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/**********Card Menu ***********/
.card-menu{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
.col_img{
  position:fixed;
  background: url(/src/images/hospital_registeration.jpg);
  background-size: cover;
  background-position: center;
  height: 130vh;
  margin-left: -5px;
}